<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Me - TechNest by Netra</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

<header>

    <div class="logo">
        TechNest by Netra
    </div>

    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact</a>
        <a href="feedback.html">Feedback</a>
    </nav>

</header>


<section class="contact">

    <div class="contact-info">

        <h2>Get In Touch</h2>

        <p>Let's connect and get in touch!</p>

        <p>
            <b>Name:</b> Netra Salunke
        </p>

        <p>
            <b>Email:</b> Your Email
        </p>

        <p>
            <b>Location:</b> Mumbai, Maharashtra
        </p>

    </div>


    <div class="contact-form">

        <h2>Send Message</h2>

        <input
            type="text"
            placeholder="Your Name">

        <input
            type="email"
            placeholder="Your Email">

        <textarea
            placeholder="Your Message"></textarea>

        <button type="button">
            Submit
        </button>

    </div>

</section>


<footer>

    <p>
        Designed & Developed by
        <strong>Netra Mangesh Salunke</strong>
    </p>

    <p>© 2026 Netra Salunke</p>

</footer>

</body>
</html>
