<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Feedback - TechNest by Netra</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

<header>

    <div class="logo">
        TechNest by Netra
    </div>

    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact</a>
        <a href="feedback.html">Feedback</a>
    </nav>

</header>


<section class="feedback">

    <h1>Share Your Feedback</h1>

    <div class="feedback-box">

        <form>

            <input
                type="text"
                name="name"
                placeholder="Enter Your Name"
                required>

            <input
                type="email"
                name="email"
                placeholder="Enter Your Email"
                required>

            <textarea
                name="message"
                placeholder="Write your feedback here..."
                required></textarea>

            <button type="submit">
                Submit Feedback
            </button>

        </form>

    </div>

</section>


<footer>

    <p>
        Designed & Developed by
        <strong>Netra Mangesh Salunke</strong>
    </p>

    <p>© 2026 Netra Salunke</p>

</footer>

</body>
</html>
