<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Thank You - TechNest by Netra</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

<header>

    <div class="logo">
        TechNest by Netra
    </div>

    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact</a>
        <a href="feedback.html">Feedback</a>
    </nav>

</header>


<section class="thankyou">

    <div class="thankyou-box">

        <h1>Thank You! 😊</h1>

        <p>
            Thank you for visiting my website
            and sharing your feedback!
        </p>

        <p>
            I really appreciate your time and support. 💙
        </p>

        <a href="index.html" class="btn">
            Back to Home
        </a>

    </div>

</section>


<footer>

    <p>
        Designed & Developed by
        <strong>Netra Mangesh Salunke</strong>
    </p>

    <p>© 2026 Netra Salunke</p>

</footer>

</body>
</html>
